*{
    margin: 0px;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    height: 100vh;
}

header{
    z-index: 99;
    position: fixed;
    top: 0px;
    left: 0px;
}

nav{
    height: 2cm;
}

.circle{
    height: 53px;
    width: 53px;
    border-radius: 26.5px;
    border: 2px solid white;
    z-index: 99;
    transition: 30ms;
}

.hero-container{
    padding: 1cm;
}

._blur_bg{
    height: 100%;
    pointer-events: none;
    top: 0px;
    left: 0px;
}

.hero_content{
    z-index: 1;
}


.call_to_action{
    width: 6cm;
}

.hero_image_holder{
    height: 100%;
}

.hero_image{
  top: 0px;
  left: 0px;
}

.loader {
    width: 48px;
    height: 78px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    margin: auto;
    border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
  }
  .loader::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    animation: scrollDown 1.5s linear infinite;
  }
  @keyframes scrollDown {
    0% {
      top: 15px;
      height: 4px;
      opacity: 1;
    }
    33% {
      top: 15px;
      height: 40px;
    }
    66% {
      top: 50px;
      height: 10px;
      opacity: 1;
    }
    100% {
      top: 56px;
      height: 4px;
      opacity: 0;
    }
  }

/* Media query goes here */
@media (min-width: 779px) {
    .hero-container{
        height: 100vh;
    }
    
}